.nav {
  display: inline;
  padding: 10px;
}

.headers {
  font-weight: bold;
  padding: 8px 0px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
}

.header-cells {
  padding: 15px;
  width: 130px;
}

.departure-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
}

.cell-style {
  padding: 5px 5px 5px 15px;
  width: 150px;
}
